body{text-align: center; font-size: large}	

* div * {background: blue; color: white; text-align:center;}

div a * {background: red; text-align:center;}

* {background: url(./Images/1111.png); 
		background-attachment: fixed; 
		background-size: 100%;	}

h4 * { color: red; }

img { float: left;
	width: 30%; 
	height: 30%; 
}
@media (max-width: 768px) {
    img {
        width: 50%
    }
}
nav {
    display: flex;
    justify-content: space-around;
    font-size: 28px;
}
